@import '../../styles/variables';

.theme-switch {
  display: flex;
  align-items: center;

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.6rem;

    @media only screen and (max-width: $bp-sm) {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
    }

    // center svg element
    display: flex;
    align-items: center;
    justify-content: center;

    & path {
      fill: var(--color-text);
    }
  }

  &__text {
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: var(--font-weight-medium);
    font-family: var(--font-primary);

    cursor: pointer;
    user-select: none;
  }
}
