:root {
  --color-elements-dark: hsl(209, 23%, 22%);
  --color-elements-light: hsl(0, 0%, 100%);
  --color-background-dark: hsl(207, 26%, 17%);
  --color-background-light: hsl(0, 0%, 98%);
  --color-text-dark: hsl(0, 0%, 100%);
  --color-text-light: hsl(200, 15%, 8%);
  --color-input-light: hsl(0, 0%, 52%);

  // SHADOWS
  --shadow-dark: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 0.5rem 2rem rgba(0, 0, 0, 0.06);

  // FONTS
  --font-primary: 'Nunito Sans', sans-serif;
  --font-weight-thin: 300;
  --font-weight-normal: 600;
  --font-weight-bold: 800;
}

.light {
  --color-elements: var(--color-elements-light);
  --color-background: var(--color-backgroulight);
  --color-text: var(--color-text-light);
  --color-input: var(--color-input-light);
  --shadow: var(--shadow-light);
}

.dark {
  --color-elements: var(--color-elements-dark);
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
  --color-input: var(--color-input-light);
  --shadow: var(--shadow-dark);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --color-elements: var(--color-elements-dark);
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
    --color-input: var(--color-input-light);
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-sm) {
    font-size: 40%;
  }
}

.App {
  min-height: 100vh;
  background-color: var(--color-background);
}
