@import '../../styles/variables';

.content {
  padding: 0 8rem;

  @media only screen and (max-width: $bp-sm) {
    padding: 0 3rem;
  }
}

.input-container {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $bp-sm) {
    padding: 2rem 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
