@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8rem;
  padding: 0 8rem;

  @media only screen and (max-width: $bp-sm) {
    padding: 0 3rem;
  }

  background-color: var(--color-elements);
  box-shadow: var(--shadow);

  &__text {
    color: var(--color-text);
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-primary);
  }
}
